.component-root {
    display: flex !important;
    flex-direction: column;
    background-color: var(--fog-surface-color);
    gap: 6px;
}

.items-container {
    gap: 12px;
    display: flex !important;
    flex-flow: wrap;
    align-items: center !important;
}
