.value-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--fog-surface-color);
    border-radius: var(--fog-border-radius);
    border: 1px solid var(--fog-container-color);
    gap: 4px;
    padding: 6px 6px 2px 6px;
}

.value-label {
    font-size: 12px;
    font-weight: 700;
    white-space: nowrap;
}

.value-icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
}