.component-root {
    display: flex !important;
    flex-direction: column;
    clip-path: inset(0 0 0 0 round var(--fog-border-radius));
}

.main-container {
    display: flex !important;
    flex-direction: column;
    padding-left: 8px;
    padding-right: 8px;
}

.entity-title {
    font-weight: 700;
    font-size: 0.875rem;
    flex-grow: 1;
    text-align: center;
    min-width: 0;
}

.header-container
{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 12px;
    text-align: center;
}

.age-label {
    align-self: flex-start;
    display: inline-block;
    padding: 2px 8px;
    background-color: var(--fog-container-color);
    border-bottom-right-radius: var(--fog-border-radius);
    color: var(--fog-text-on-dark-color);
    font-size: 0.75rem;
    font-weight: 200;
    min-height: 22px;
    min-width: 80px;
    text-align: center;
}

.checkbox-label {
    font-weight: 400 !important;
    font-size: var(--fog-font-size) !important;
    color: var(--fog-text-color);
}