.component-root {
    display: flex !important;
    flex-direction: column;
    background-color: var(--fog-surface-color);
    padding-bottom: 16px;
    gap: 6px;
}

.resource-icon {
    width: 16px;
    height: 16px;
    object-fit: contain;
}

.production-label {
    font-size: 10px !important;
    vertical-align: middle;
}

.table {
    margin-bottom: 0 !important;
}

.table>:not(caption)>*>*:has(>img) {
    padding: 2px 6px !important;
    background-color: transparent;
}

.table>:not(caption)>*>* {
    padding: 2px 6px !important;
    background-color: transparent;
}

thead {
    border-bottom: none;
}

th, td {
    color: var(--fog-text-color) !important;
    border-bottom: 0;
}
th {
    white-space: nowrap;
    font-size: 10px !important;
    font-weight: 700 !important;
    background-color: var(--fog-surface2-color) !important;
}

th:last-child {
    width: 100%;
}

td > * {
    vertical-align: middle;
}
input, tbody tr {
    cursor: pointer;
}

tbody tr:nth-child(even) {
    background-color: #f9fafb;
}
