@using Ingweland.Fog.Application.Client.Core.Localization
@using Ingweland.Fog.Application.Client.Web.ViewModels.Hoh
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<FogResource> Loc
<div class="component-root">
    <StatsSectionHeader Label="@Loc[FogResource.CityPlanner_Workforce]" OnClick="OnHeaderClick"/>
    <MudCollapse Expanded="_expanded">
        <div class="general-items-container">
            @foreach (var item in Workforce)
            {
                <GeneralProductionItemComponent Item="@item"/>
            }
        </div>
    </MudCollapse>
</div>

@code {

    [Parameter]
    public required IReadOnlyCollection<IconLabelItemViewModel> Workforce { get; set; }

    bool _expanded = true;

    private void OnHeaderClick()
    {
        _expanded = !_expanded;
    }

}