p {
    margin: 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 8px 8px 24px 8px;
    max-width: 1200px;
    width: 100%;
    align-self: center;
    gap: 12px;
}

.section-container {
    display: flex;
    flex-direction: column;
    padding: 12px;
}

.info-container {
    display: flex;
    padding: 12px;
    align-items: flex-start;
    gap: 12px;
}

.avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.deleted-label {
    background-color: black;
    color: var(--fog-text-on-dark-color);
    font-size: 10px;
    font-weight: 700;
    text-align: center;
    padding: 4px;
    border-radius: var(--fog-border-radius);
    flex-shrink: 0;
    white-space: nowrap;
}

.avatar {
    width: 64px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    align-content: center;
    position: relative;
}

.avatar-background{
    width: 100%;
}

.avatar-icon {
    width: 45%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 2px));
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
    font-size: 12px;
}

.label {
    font-weight: 700;
}

.chart-labels {
    font: inherit;
    font-size: 20px;
}

.section-title {
    font-weight: 700;
    font-size: 14px;
}

.preserve-whitespace {
    white-space: pre;
}
.timeline-date {
    font-size: 10px;
}

.members-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 16px;
    align-self: stretch;
    container-type: inline-size;
}

.ath-ranking-items-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.current-members-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

@media (min-width: 576px) {
    .page-container {
        padding: 16px;
        gap: 24px;
    }

    .section-container {
        padding: 16px;
    }

    .info-container {
        padding: 16px;
        gap: 20px;
    }
    
    .avatar {
        width: 80px;
    }

    .avatar-icon {
        transform: translate(-50%, calc(-50% - 3px));
    }

    .details {
        gap: 4px;
    }

    .label {
        font-weight: 700;
    }

    .section-title {
        font-size: 16px;
    }

    .timeline-date {
        font-size: 12px;
    }

    .members-container {
        margin-bottom: 24px;
    }

    .avatar-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .deleted-label {
        font-size: 12px;
        padding: 6px;
    }

    .ath-ranking-items-container {
        gap: 12px;
    }
}