.component-root {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.options-container {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 12px;
    padding: 12px;
}

.teams-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    gap: 10px;
    align-self: center;
}

.help-info {
    cursor: pointer;
}

@media (min-width: 576px) {
    .teams-container {
        gap: 18px;
    }

    .options-container {
        gap: 24px;
        padding: 24px;
    }
}