@attribute [Route(FogUrlBuilder.PageRoutes.BATTLE_LOG_PATH)]
@using Ingweland.Fog.Application.Client.Web.Localization
@using Ingweland.Fog.Application.Client.Web.ViewModels.Hoh.Battle
@using Ingweland.Fog.Application.Core.Helpers
@using Ingweland.Fog.WebApp.Client.Components.Elements.StatsHub
@inherits StatsHubPageBase

<div class="component-root">
    <div class="help-info user-select-none" @onclick="OnContributionPromptClick">
        @Loc[FogResource.StatsHub_BattleLog_ContributePrompt]
    </div>
    <div class="options-container fog-container">
        <BattleSelector ViewModel="@_battleSelectorViewModel" SearchRequest="@_battleSearchRequest"
                        SearchRequestChanged="BattleSelectorOnValueChanged"/>
        @if (_isLoading)
        {
            <MudProgressLinear Style="position: absolute; bottom: 0; left: 0" Color="Color.Primary"
                               Indeterminate="true"/>
        }
    </div>

    <div class="teams-container">
        @foreach (var battle in _battles)
        {
            <BattleTeamComponent Data="@battle" OnBattleStatsClicked="OpenBattleStats"/>
        }
    </div>
</div>
