p {
    margin: 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 8px 8px 24px 8px;
    max-width: 1200px;
    width: 100%;
    align-self: center;
    gap: 12px;
}

.section-container {
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 12px;
}

.actions-container {
    flex-direction: row;
    flex-wrap: wrap;
}

.ranking-points-chart-container {
    gap: 0;
    position: relative;
}

.chart-labels {
    font: inherit;
    font-size: 20px;
}

.section-title {
    font-weight: 700;
    font-size: 14px;
    user-select: none;
    -webkit-user-select: none;
}

.expandable-section-title {
   display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.preserve-whitespace {
    white-space: pre;
}
.timeline-date {
    font-size: 10px;
}

.name-link {
    background-color: var(--fog-container-color);
    color: var(--fog-text-on-container-color);
    border-radius: var(--fog-border-radius);
    padding: 4px;
}

.material-symbols-outlined{
    font-size: 16px;
    vertical-align: middle;
}

.top-heroes-container {
    display: flex;
    justify-content: space-evenly;
    gap: 2px;
}

.alliances-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 16px;
    align-self: stretch;
    container-type: inline-size;
}

.alliance-list-spacer {
    height: 24px;
}

.loading-indicator {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom-left-radius: var(--fog-border-radius);
    border-bottom-right-radius: var(--fog-border-radius);
    overflow: hidden;
}

@media (min-width: 576px) {
    .page-container {
        padding: 16px;
        gap: 24px;
    }

    .section-container {
        padding: 16px;
        gap: 16px;
    }

    .ranking-points-chart-container {
        gap: 0;
    }

    .section-title {
        font-size: 16px;
    }

    .timeline-date {
        font-size: 12px;
    }

    .name-link {
        padding: 6px;
    }

    .alliances-container {
        margin-bottom: 24px;
    }

    .alliance-list-spacer {
        height: 32px;
    }
}