p {
    margin: 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 8px 8px 24px 8px;
    max-width: 1200px;
    width: 100%;
    align-self: center;
    gap: 12px;
}

.section-container {
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 12px;
}

.actions-container {
    flex-direction: row;
}

.ranking-points-chart-container {
    gap: 0;
}

.chart-labels {
    font: inherit;
    font-size: 20px;
}

.section-title {
    font-weight: 700;
    font-size: 14px;
}

.preserve-whitespace {
    white-space: pre;
}
.timeline-date {
    font-size: 10px;
}

.strings-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.name-link {
    background-color: var(--fog-container-color);
    color: var(--fog-text-on-container-color);
    border-radius: var(--fog-border-radius);
    padding: 4px;
}

.material-symbols-outlined{
    font-size: 16px;
    vertical-align: middle;
}

@media (min-width: 576px) {
    .page-container {
        padding: 16px;
        gap: 24px;
    }

    .section-container {
        padding: 16px;
        gap: 16px;
    }

    .ranking-points-chart-container {
        gap: 0;
    }

    .section-title {
        font-size: 16px;
    }

    .timeline-date {
        font-size: 12px;
    }

    .strings-container {
        gap: 12px;
    }

    .name-link {
        padding: 6px;
    }
}