.page-container {
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin-bottom: 16px;
    gap: 24px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(375px, 100%), 1fr));
    gap: 24px;
}

.column {
    display: flex;
    justify-content: center;
}

::deep .unit-battle-type-selector-item {
    font-weight: 700 !important;
}

