@attribute [Route(FogUrlBuilder.PageRoutes.BASE_STATS_HUB_PATH)]
@using Ingweland.Fog.Application.Client.Web.Localization
@using Ingweland.Fog.Application.Core.Helpers
@using Ingweland.Fog.WebApp.Client.Components.Elements.StatsHub
@inherits StatsHubPageBase
@if (IsInitialized)
{
    <div class="page-container">
        <div class="column">
            <StatsTopListComponent
                Title="@Loc[FogResource.StatsHub_Worlds_TopPlayerListTitle, FogResource.StatsHub_Worlds_MainWorld]"
                ViewAllUrl="/stats-hub/worlds/un1"
                Players="@_topStats?.MainWorldPlayers"/>
        </div>
        <div class="column">
            <StatsTopListComponent
                Title="@Loc[FogResource.StatsHub_Worlds_TopPlayerListTitle, FogResource.StatsHub_Worlds_BetaWorld]"
                ViewAllUrl="/stats-hub/worlds/zz1"
                Players="@_topStats?.BetaWorldPlayers"/>

        </div>
    </div>
}
else
{
    <LoadingIndicator/>
}