.component-root {
    display: flex;
    flex-direction: column;
    gap: 12px;
    word-break: break-word;
}

.progress-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 300px;
    overflow-y: auto;
    background-color: var(--fog-footer-color);
    color: var(--fog-text-on-dark-color);
    padding: 8px;
    font-size: 12px;
}

.output-container {
    padding: 12px;
}