.content-wrapper {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr;
    height: 100%;
    width: 100%;
}

.toolbar-divider {
    height: 1.5rem;
    width: 1px;
    background-color: var(--fog-border-color);
}

.loading-indicator {
    grid-column: 1 / -1; /* Spans all columns */
    grid-row: 1 / -1;    /* Spans all rows */
    place-self: center;
}

sup {
    font-size: 10px;
    padding-left: 4px;
}

.non-layout-item-container {
    grid-column: 1 / 3;
    overflow: auto;
}

::deep .mud-tab-slider {
    width: 6px !important;
}

::deep .city-planner-properties-container {
    border-left: 1px solid #f0f0f0;
}