.discord-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--fog-text-color);
}

.discord-link i {
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
}