@attribute [Route(FogUrlBuilder.PageRoutes.CITIES_STATS_PATH)]
@using Ingweland.Fog.Application.Core.Helpers
@using Ingweland.Fog.WebApp.Client.Components.Elements.CityPlanner.Stats
@inherits Ingweland.Fog.WebApp.Client.Components.Pages.Abstractions.FogPageBase
<div class="main-container">

    @if (_citiesStats != null)
    {
        @foreach (var cityStats in _citiesStats)
        {
            <CityPropertiesComponent Data="@cityStats" Editable="false"/>
        }
    }
    else
    {
        <LoadingIndicator/>
    }
</div>
    