.city-planner {
    width: 100%;
    height: 100%;
}

.small-screen-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    margin: 24px;
    text-align: center;
    gap: 16px;
}