@using Ingweland.Fog.Application.Client.Web.Localization
@using Ingweland.Fog.Application.Client.Web.Services.Abstractions
@using Ingweland.Fog.Application.Core.Helpers
@using Ingweland.Fog.Models.Fog.Entities
@using Ingweland.Fog.WebApp.Client.Components.Elements.CityStrategyBuilder
@using Ingweland.Fog.WebApp.Client.Components.Layout
@using Microsoft.Extensions.Localization
@attribute [Route(FogUrlBuilder.PageRoutes.CITY_STRATEGY_APP_TEMPLATE)]
@layout BlankLayout
@inject IStringLocalizer<FogResource> Loc
@if (_isInitialized)
{
    @if (_showBuilder)
    {
        @if (_strategy != null)
        {
            <CityStrategyBuilderComponent Strategy="@_strategy"/>
        }
    }
    else
    {
        <div class="small-screen-message">
            <span>@Loc[FogResource.CityStrategyBuilder_SmallScreenMessage]</span>
            <MudButton Variant="Variant.Filled" Color="Color.Primary"
                       OnClick="@(() => NavigationManager.NavigateTo(FogUrlBuilder.PageRoutes.CITY_STRATEGIES_DASHBOARD_PATH))">
                @Loc[FogResource.Common_GoBack]
            </MudButton>
        </div>
    }
    /* <CityStrategyViewerComponent/> */
}

@code
{
    private bool _isInitialized;
    private bool _showBuilder;

    [Inject]
    private IBrowserViewportService BrowserViewportService { get; set; }

    [Inject]
    private IJSInteropService JsInteropService { get; set; }

    [Inject]
    private IPersistenceService PersistenceService { get; set; }

    [Inject]
    private NavigationManager NavigationManager { get; set; }

    [Parameter]
    public string? StrategyId { get; set; }

    private CityStrategy? _strategy;

    protected override async Task OnInitializedAsync()
    {
        if (OperatingSystem.IsBrowser())
        {
            await JsInteropService.ResetScrollPositionAsync();

            var size = await BrowserViewportService.GetCurrentBrowserWindowSizeAsync();
            _showBuilder = size.Width >= 880;

            _isInitialized = true;
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        if (!_isInitialized)
        {
            return;
        }

        if (string.IsNullOrWhiteSpace(StrategyId))
        {
            NavigationManager.NavigateTo(FogUrlBuilder.PageRoutes.CITY_STRATEGIES_DASHBOARD_PATH, false, true);
        }

        _strategy = await PersistenceService.LoadCityStrategy(StrategyId!);
        if (_strategy == null)
        {
            NavigationManager.NavigateTo(FogUrlBuilder.PageRoutes.CITY_STRATEGIES_DASHBOARD_PATH, false, true);
        }
    }
}

