.page-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    gap: 6px;
}

.action-buttons-container {
    display: flex;
    gap: 6px;
    justify-content: flex-start;
}

.items-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    gap: 6px;
}

.action-card {
    width: 200px;
}

.section-title {
    color: var(--fog-text-on-container-color);
    font-size: 18px;
    border-bottom: 1px solid var(--fog-text-on-container-color);
    align-self: flex-start;
    font-weight: 300;
    padding: 8px 50px 2px 6px;
}


@media (min-width: 576px) {
    .page-container {
        gap: 12px;
    }

    .action-buttons-container {
        gap: 12px;
    }

    .items-container {
        gap: 12px;
    }

    .section-title {
        font-size: 24px;
        padding: 16px 100px 2px 12px;
    }
}