.component-root {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.options-container {
    overflow: hidden;
    position: relative;
}

.items-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    gap: 12px;
}

.action-card {
    flex: 1;
}

.items-container-add {
    width: 100%;
    height: 100%;
}

@media (min-width: 576px) {
    .teams-container {
        gap: 18px;
        padding: 0 12px;
    }

    .items-container {
        gap: 16px;
    }
}