:root {
    --primary-color: #6d28d9;
    --secondary-color: #4c1d95;
    --background-color: #f3f4f6;
    --text-color: #1f2937;
    --kofi-color: #29abe0;
}

.component-root {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 800px;
    margin: 0 auto;
}

.donation-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: var(--fog-surface-color);
    padding: 12px;
}

.donation-options {
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    justify-items: center;
    text-align: center;
}

.donation-options h4 {
    color: var(--fog-text-on-container-color);
}

.left-column {
    grid-column: 1;
}

.right-column {
    grid-column: 3;
}

.v-divider {
    grid-column: 2;
    width: 1px;
    height: 100%;
    background-color: var(--fog-border-color);
}

.h-divider {
    grid-column: 1 / -1;
    height: 1px;
    width: 100%;
    background-color: var(--fog-border-color);
}

.full-width-row {
    grid-column: 1 / -1;
}

.instructions {
    font-size: 12px;
}

.message {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background: var(--fog-surface-color);
    padding: 12px;
}

.binance-section {
    border: 2px solid #f3ba2f; /* Binance yellow */
    border-radius: 4px;
    padding: 12px;
    text-align: center;
}

.binance-section h4 {
    color: #f3ba2f;
}

.binance-qr {
    max-width: 300px;
    margin: 12px auto;
    display: block;
}

.binance-link {
    display: block;
}

.h-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    justify-content: center;
}

@media (min-width: 576px) {

    .component-root {
        gap: 24px;
    }

    .donation-section {
        padding: 24px;
        gap: 12px;
    }

    .message {
        padding: 24px;
        gap: 12px;
    }

    .binance-link {
        display: none;
    }
}