.content-wrapper {
    display: flex;
    flex-direction: column;
    height: var(--full-page-height);
    margin: calc(var(--main-content-padding) * -1);
    position: relative;
}

.app-bar-content-container {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-left: 12px;
}

.main-container {
    display: grid;
    grid-template-rows: auto 1fr;
    overflow-y: auto;
    flex: 1 1 auto;
    padding-top: 6px;
}

.content-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    grid-row: 2;
    padding-bottom: 64px;
}

.map-container {
    width: 100%;
    height: 100%;
    position: relative;
    grid-row: 2;
}

::deep .map-container canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    touch-action: none;
    outline: none;
}

::deep .map-container canvas:focus {
    outline: none;
}

.toolbar-divider {
    height: 1.5rem;
    width: 1px;
    background-color: var(--fog-border-color);
}

.loading-indicator {
    align-self: center;
    justify-self: center;
}

.list-index {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--fog-container-color);
    border-radius: 50%;
    padding: 4px;
    width: 24px;
    height: 24px;
    text-align: center;
    flex: 0 0 auto;
    font-size: 10px;
}

.timeline-item-title-container {
    display: flex;
    align-items: center;
    grid-row: 1;
    color: var(--fog-text-on-container-color);
    padding: 0 6px 6px 6px;
    font-weight: 700;
}

.navigation-buttons-container {
    position: absolute;
    bottom: 12px;
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    left: 12px;
    right: 12px;
}

::deep .ad-city-properties {
    width: 100%;
    min-height: 800px;
}

@media (min-width: 576px) {
    .content-wrapper {
        height: var(--full-page-height-576);
        margin: calc(var(--main-content-padding-576) * -1);
    }
}
