.component-root {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    height: 100%;
    background-color: var(--fog-surface-color);
    border: 1px solid var(--fog-border-color);
}
