.component-root {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    height: 100%;
    background-color: var(--fog-surface-color);
    border-right: 1px solid var(--fog-border-color);
    border-left: 1px solid var(--fog-border-color);
}

.markdown-body {
    flex: 1 1 auto;
    overflow-y: auto;
    min-height: 0;
    padding: 12px;
}