.component-root {
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 48px;
    border-bottom: 1px solid var(--fog-border-color);
    position: relative;
    cursor: pointer;
    flex-shrink: 0;
}

.rank {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 32px;
    padding: 0 0 0 8px;
    flex-shrink: 0;
}

.avatar-container {
    width: 36px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    align-content: center;
    position: relative;
    margin-left: 8px;
}

.avatar-background{
    width: 100%;
}

.avatar-icon {
    width: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 1px));
}

.content {
    display: flex;
    align-items: center;
    flex: 1;
    padding: 2px 2px 2px 6px;
    min-width: 0;
}

.content-label {
    font-weight: 700;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.points {
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 44px;
    padding: 0 4px;
    height: 100%;
    font-size: 12px;
    flex-shrink: 0;
}

@container (min-width: 470px) {
    .component-root {
        height: 56px;
    }

    .rank {
        min-width: 40px;
        padding: 0 0 0 12px;
    }

    .avatar-container {
        width: 42px;
        margin-left: 12px;
    }

    .avatar-icon {
        width: 20px;
        transform: translate(-50%, calc(-50% - 2px));
    }

    .content {
        padding: 0 4px 0 12px;
    }

    .content-label {
        font-size: 16px;
    }

    .points {
        min-width: 60px;
        padding: 0 8px;
        font-size: 14px;
    }
}