@inject IStringLocalizer<FogResource> Loc
@using Ingweland.Fog.Application.Client.Web.Localization
@using Ingweland.Fog.Application.Client.Web.StatsHub.ViewModels
@using Ingweland.Fog.Application.Core.Helpers
@using Microsoft.Extensions.Localization
@inherits StatsHubTopListComponentBase<Ingweland.Fog.Application.Client.Web.StatsHub.ViewModels.AllianceViewModel>
@{
    base.BuildRenderTree(__builder);
}

@code {

    protected override RenderFragment RenderItem(AllianceViewModel alliance) => __builder =>
    {
        <a class="anchor-inherited-style" href="@FogUrlBuilder.PageRoutes.Alliance(alliance.Id)">
            <AllianceListItemComponent Alliance="@alliance"/>
        </a>
    };

    protected override async Task GetItemsAsync()
    {
        Items = await StatsHubUiService.GetTopAlliancesAsync(WorldId, DataLoadingCts.Token);
    }

    protected override string ViewAllUrl => FogUrlBuilder.PageRoutes.WorldAlliances(WorldId);
}