.component-root {
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 60px;
    border-bottom: 1px solid var(--fog-border-color);
    position: relative;
    cursor: pointer;
}

.rank {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    flex-shrink: 0;
}

.avatar-container {
    width: 30px;
    flex-shrink: 0;
    margin-left: 2px;
}

.avatar {
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    min-width: 0;
    padding: 2px 2px 2px 6px;
}

.content-top {
    display: flex;
    align-items: center;
    gap: 2px;
    width: 100%;
    min-width: 0;
}

.content-label {
    font-weight: 700;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.alliance-label {
    color: var(--fog-text-secondary-color);
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.age-label {
    font-size: 8px;
    padding: 0 4px;
    border-radius: 2px;
    line-height: 14px;
    color: var(--fog-text-on-dark-color);
    margin-top: 1px;
}

.points {
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 44px;
    padding: 0 4px;
    height: 100%;
    font-size: 12px;
    flex-shrink: 0;
}

.updated-at-label {
    position: absolute;
    bottom: 0;
    right: 2px;
    font-size: 8px;
    color: var(--fog-text-secondary-color);
}

.role-icon {
    width: 16px;
    height: 16px;
    object-fit: contain;
}

.ath-container {
    display: flex;
    align-items: center;
    gap: 2px;
}

.ath-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ath-icon > img {
    width: auto;
    object-fit: contain;
    height: 16px;
}

.ath-title {
    font-size: 10px;
}

.ath-max-points {
    font-size: 10px;
    white-space: pre;
    margin-left: 2px;
}

@container (min-width: 470px) {
    .component-root {
        height: 74px;
    }

    .rank {
        width: 40px;
    }

    .avatar-container {
        width: 40px;
        margin-left: 4px;
    }

    .content {
        padding: 0 4px 0 12px;
    }

    .content-top {
        gap: 4px;
    }

    .content-label {
        font-size: 16px;
    }

    .alliance-label {
        font-size: 14px;
    }

    .age-label {
        font-size: 10px;
        padding: 0 6px;
        border-radius: 4px;
        line-height: 16px;
        margin-top: 2px;
    }

    .points {
        min-width: 60px;
        padding: 0 8px;
        font-size: 14px;
    }

    .updated-at-label {
        font-size: 10px;
    }

    .role-icon {
        width: 24px;
        height: 24px;
    }

    .ath-container {
        gap: 4px;
    }

    .ath-icon > img {
        height: 20px;
    }

    .ath-title {
        font-size: 12px;
    }

    .ath-max-points {
        font-size: 12px;
        margin-left: 4px;
    }
}