@using SkeletonType = MudBlazor.SkeletonType
<div class="component-root user-select-none">
    <div class="rank">
    </div>
    <div class="avatar-container">
        <MudSkeleton Animation="Animation.Wave" Width="100%" Height="100%" SkeletonType="SkeletonType.Circle"/>
    </div>
    <div class="content">
        <MudSkeleton Animation="Animation.Wave" Width="70%"/>
        <MudSkeleton Animation="Animation.Wave" Width="40%"/>
    </div>
</div>