.component-root {
    display: flex;
    flex-direction: column;
    border-radius: var(--fog-border-radius);
    border: 1px solid var(--fog-container-color);
    overflow: hidden;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}

.event-label-container {
    display: flex;
    justify-content: center;
    padding: 2px 4px;
    background-color: var(--fog-container-color);
    color: var(--fog-text-on-container-color);
    border: solid var(--fog-container-color);
    border-width: 0 0 1px 0;
    font-size: 10px;
    width: 100%;
}

.league-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    background-color: var(--fog-surface-color);
    padding: 4px;
    font-size: 12px;
    gap: 4px;
}

.league-name {
    color: var(--fog-text-on-container-color);
}

.league-icon {
    width: 24px;
    height: 24px;
}

@media (min-width: 576px) {
    .event-label-container {
        padding: 4px 8px;
        font-size: 12px;
    }

    .league-container {
        padding: 8px;
        font-size: 14px;
        gap: 8px;
    }

    .league-icon {
        width: 32px;
        height: 32px;
    }
}

