@inject IStringLocalizer<FogResource> Loc
@using Ingweland.Fog.Application.Client.Core.Localization
@using Ingweland.Fog.Application.Client.Web.StatsHub.ViewModels
@using Ingweland.Fog.Application.Core.Helpers
@using Microsoft.Extensions.Localization
@inherits StatsHubTopListComponentBase<Ingweland.Fog.Application.Client.Web.StatsHub.ViewModels.PlayerViewModel>
@{
    base.BuildRenderTree(__builder);
}

@code {

    protected override RenderFragment RenderItem(PlayerViewModel player) => __builder =>
    {
        <a class="anchor-inherited-style" href="@FogUrlBuilder.PageRoutes.Player(player.Id)">
            <PlayerListItemComponent Player="@player"/>
        </a>
    };

    protected override async Task GetItemsAsync()
    {
        Items = await StatsHubUiService.GetTopPlayersAsync(WorldId, DataLoadingCts.Token);
    }

    protected override string ViewAllUrl => FogUrlBuilder.PageRoutes.WorldPlayers(WorldId);

}

