@using SkeletonType = MudBlazor.SkeletonType
<div class="fog-container component-root">
    <div class="item item1"><MudSkeleton SkeletonType="SkeletonType.Rectangle" Animation="Animation.Wave" Width="100%" Height="100%"/></div>
    <div class="item item2"><MudSkeleton SkeletonType="SkeletonType.Rectangle" Animation="Animation.Wave" Width="100%" Height="100%"/></div>
</div>