.content-wrapper {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 8px;
    width: 100%;
    max-width: 1000px;
}

.section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    position: relative;
    background-color: var(--fog-container-color);
    padding: 8px;
    width: 100%;
    overflow: hidden;
    border-top-left-radius: var(--fog-border-radius);
    border-top-right-radius: var(--fog-border-radius);
}

.title {
    font-size: 16px;
    font-weight: 700;
    color: var(--fog-text-on-container-color);
}

.items-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-self: stretch;
    container-type: inline-size;
}

.search-form {
    display: flex;
    flex-direction: column;
    padding: 8px 8px 16px 8px;
    gap: 8px;
    border-bottom: solid 1px var(--fog-border-color);
    align-items: stretch;
}

::deep .in-feed-container {
    margin: 18px 0 !important;
}

@media (min-width: 576px) {
    .content-wrapper {
        gap: 12px;
    }

    .top-container {
        padding: 12px;
    }

    .title {
        font-size: 18px;
    }

    .pagination-container {
        padding: 18px 0;
    }

    .search-form {
        padding: 12px 12px 20px 12px;
        gap: 12px;
    }
}
