.component-root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 550px;
    overflow: hidden;
}

.title {
    font-size: 16px;
    font-weight: 700;
    width: 100%;
    height: 40px;
    text-align: center;
    align-content: center;
    background-color: var(--fog-container-color);
    color: var(--fog-text-on-container-color);
    position: relative;
}

.items-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-self: stretch;
    container-type: inline-size;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    margin: 8px 0;
}

.loading-indicator {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

@media (min-width: 576px) {

    .title {
        font-size: 18px;
        height: 44px;
    }

    .button-container {
        margin: 12px 0;
    }
}
