.component-root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 550px;
    overflow: hidden;
}

.title {
    font-size: 16px;
    font-weight: 700;
    width: 100%;
    height: 40px;
    text-align: center;
    align-content: center;
    background-color: var(--fog-container-color);
    color: var(--fog-text-on-container-color);
}

.items-container {
    padding: 4px;
    flex: 1;
    align-items: center;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    margin: 8px 0;
}

@media (min-width: 576px) {

    .title {
        font-size: 18px;
        height: 44px;
    }

    .items-container {
        padding: 8px;
    }

    .button-container {
        margin: 12px 0;
    }
}
