@using Ingweland.Fog.Application.Client.Web.Localization
@using Ingweland.Fog.Application.Client.Web.ViewModels.Hoh.Units
@using Ingweland.Fog.Application.Core.Helpers
@using Ingweland.Fog.WebApp.Client.Components.Elements.Heroes
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<FogResource> Loc
@inject NavigationManager NavigationManager
<div class="fog-container component-root">
    <div class="title">@Title</div>
    <div class="items-container">
        @foreach (var hero in Heroes)
        {
            <HeroItem Hero="@hero" OnClick="OpenHeroPage"/>
        }
    </div>
    @* <div class="button-container"> *@
    @*     <MudButton Variant="Variant.Filled" Color="Color.Primary" *@
    @*                Href="@ViewAllUrl">@Loc[FogResource.StatsHub_ViewAll]</MudButton> *@
    @* </div> *@

</div>

@code {

    [Parameter]
    public required string Title { get; set; }

    [Parameter]
    public required string ViewAllUrl { get; set; }

    [Parameter][EditorRequired]
    public required IReadOnlyCollection<HeroBasicViewModel> Heroes { get; init; }

    private void OpenHeroPage(string heroId)
    {
        NavigationManager.NavigateTo(FogUrlBuilder.PageRoutes.Hero(heroId));
    }

}