@inject IStringLocalizer<FogResource> Loc
@using Ingweland.Fog.Application.Client.Core.Localization
@using Ingweland.Fog.Application.Client.Web.StatsHub.Abstractions
@using Ingweland.Fog.Application.Client.Web.ViewModels.Hoh.Units
@using Ingweland.Fog.Application.Core.Helpers
@using Ingweland.Fog.WebApp.Client.Components.Elements.Heroes
@using Microsoft.Extensions.Localization
@using MudBlazor.Utilities
@inherits StatsHubTopListComponentBase<Ingweland.Fog.Application.Client.Web.ViewModels.Hoh.Units.HeroBasicViewModel>
    @{
    base.BuildRenderTree(__builder);
    }

<style>

    .top-heroes-items-container {
        padding: 4px;
        flex: 1;
        align-items: center;
    }
</style>

@code {

    protected override RenderFragment RenderItem(HeroBasicViewModel hero) => __builder =>
    {
        <a class="anchor-inherited-style" href="@FogUrlBuilder.PageRoutes.Hero(hero.Id)">
            <HeroItem Hero="@hero"/>
        </a>
    };

    [Inject]
    private ITopHeroesUiService TopHeroesUiService { get; set; }

    protected override string ItemsContainerClass => new CssBuilder("heroes-grid-layout")
        .AddClass("top-heroes-items-container")
        .Build();

    protected override async Task GetItemsAsync()
    {
        Items = await TopHeroesUiService.GetTopHeroes(DataLoadingCts.Token);
    }

    protected override string ViewAllUrl => FogUrlBuilder.PageRoutes.TOP_HEROES_PATH;

}