@using Ingweland.Fog.Application.Client.Web.Providers.Interfaces
@using Ingweland.Fog.Application.Client.Web.StatsHub.ViewModels
@inject IAssetUrlProvider AssetUrlProvider
<div class="component-root">
    <div class="event-label-container">
        @Ranking.EventLabel
    </div>
    <div class="league-container">
        <img class="league-icon" src="@Ranking.WonderIconUrl"/>
        <span class="league-name">@Ranking.WonderName</span>
    </div>
    <div class="points-container">
        @Ranking.Level
    </div>
</div>

@code {

    [Parameter]
    [EditorRequired]
    public required WonderRankingViewModel Ranking { get; set; }

}