.content-wrapper {
    display: flex;
    flex-direction: column;
    height: var(--full-page-height);
    margin: calc(var(--main-content-padding) * -1);
    position: relative;
}

.app-bar-content-container {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-left: 12px;
}

.main-container {
    flex: 1 1 auto;
    overflow-y: auto;
}

.content-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    padding: 6px;
}

.map-container {
    width: 100%;
    height: 100%;
    position: relative;
}

::deep .map-container canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    touch-action: none;
    outline: none;
}

::deep .map-container canvas:focus {
    outline: none;
}

.toolbar-divider {
    height: 1.5rem;
    width: 1px;
    background-color: var(--fog-border-color);
}

@media (min-width: 576px) {
    .content-wrapper {
        height: var(--full-page-height-576);
        margin: calc(var(--main-content-padding-576) * -1);
    }
}
