@page "/buildings"
@using Ingweland.Fog.Application.Client.Web.Services.Hoh.Abstractions
@using Ingweland.Fog.Application.Client.Web.ViewModels.Hoh.City
@inject ICityUiService CityUiService;
<HeadContent>
    <meta name="description"
          content="Comprehensive building database for Heroes of History. Discover buildings and their levels for the Capital City, China, Egypt and Vikings. Check resources required for their construction and upgrade.">
    <meta name="keywords"
          content="Heroes of History buildings, building levels, building cost, building upgrade cost, building construction cost">
</HeadContent>
<PageTitle>Heroes of History buildings - Forge of Games</PageTitle>
@if (_cities == null)
{
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="spinner-grow" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else
{
    <div class="root">
        @foreach (var city in _cities)
        {
            <div class="city-container">
                <h4 class="city-name">@city.CityName</h4>
                <div class="list-group">
                    @foreach (var buildingType in city.BuildingTypes)
                    {
                        <div class="list-group-item list-group-item-secondary fw-bold">
                            @buildingType.Name
                        </div>

                        @foreach (var group in buildingType.Groups)
                        {
                            <a class="list-group-item list-group-item-action"
                               href="buildings/@buildingType.CityId/@group.Id">@group.Name</a>
                        }
                    }
                </div>
            </div>
        }
    </div>
}

@code {
    private IReadOnlyCollection<CityBuildingGroupsViewModel>? _cities;

    protected override async Task OnInitializedAsync()
    {
        _cities = await CityUiService.GetCityBuildingGroupsAsync();
    }

}