@page "/campaign"
@using Ingweland.Fog.Application.Client.Web.ViewModels.Hoh.Battle
@using Ingweland.Fog.WebApp.Services.Abstractions
@inject ICampaignUiServerService CampaignUiServerService;
<HeadContent>
    <meta name="description"
          content="Detailed campaign info for Heroes of History. Explore regions, encounters, enemy squads, and battle rewards.">
    <meta name="keywords" content="Heroes of History campaign, game encounters, battle rewards, enemy squads">
</HeadContent>
<PageTitle>Heroes of History Campaign - Forge of Games</PageTitle>
@if (_continents == null)
{
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="spinner-grow" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else
{
    <div class="container-fluid g-0" data-enhance-nav="false">
        <div class="list-group">
            @foreach (var continent in _continents)
            {
                <div class="list-group-item list-group-item-secondary fw-bold">
                    @continent.Name
                </div>

                @foreach (var region in continent.Regions)
                {
                    <a class="list-group-item list-group-item-action" href="campaign/region/@region.Id">@region.Name</a>
                }
            }
        </div>
    </div>
}

@code {
    private IReadOnlyCollection<ContinentBasicViewModel>? _continents;

    protected override async Task OnInitializedAsync()
    {
        _continents = await CampaignUiServerService.GetCampaignContinentsBasicDataAsync();
    }

}