@page "/wonders"
@using Ingweland.Fog.Application.Client.Web.Services.Hoh.Abstractions
@using Ingweland.Fog.Application.Client.Web.ViewModels.Hoh.City
@using Ingweland.Fog.WebApp.Components.Elements
@inject ICityUiService CityUiService;
<HeadContent>
    <meta name="description"
          content="Comprehensive wonders database for Heroes of History. Discover wonders and their levels for the China, Egypt and Vikings. Check resources required for their upgrade.">
    <meta name="keywords" content="Heroes of History wonders, wonder levels, wonder upgrade cost, wonder crates">
</HeadContent>
<PageTitle>Heroes of History wonders - Forge of Games</PageTitle>
@if (_wonders == null)
{
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="spinner-grow" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else
{
    <div class="root">
        @foreach (var wonderGroup in _wonders)
        {
            <div class="city-container">
                <h4 class="city-name">@wonderGroup.CityName</h4>
                <div class="wonders-container">
                    @foreach (var wonder in wonderGroup.Wonders)
                    {
                        <a href="wonders/@wonder.Id">
                            <WonderListItem Wonder="@wonder"/>
                        </a>
                    }
                </div>
            </div>
        }
    </div>
}

@code {
    private IReadOnlyCollection<WonderGroupViewModel>? _wonders;

    protected override async Task OnInitializedAsync()
    {
        _wonders = await CityUiService.GetWonderGroupsAsync();
    }

}