.component-root {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 6px;
    gap: 4px;
    user-select: none;
    -webkit-user-select: none;
}

.content-container {
    display: flex;
    gap: 24px;
}

.equipment-attributes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.clickable {
    cursor: pointer;
}