.component-root{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 12px 2px;
    padding: 0;
}

@media (min-width: 576px) {
    .component-root{
        gap: 12px 4px;
        padding: 0 4px 12px 4px;
    }
}

@media (min-width: 768px) {
    .component-root{
        gap: 24px 8px;
        padding: 0 8px 24px 8px;
    }
}