@page "/command-center"
@page "/command-center/profiles"
@using Ingweland.Fog.Application.Client.Web.Localization
@inherits CommandCenterPageBase
@rendermode PageRenderMode

@if (IsInitialized)
{
    <div class="command-center-grid-container">
        <div class="command-center-card command-center-action-card" @onclick="CreateNewProfile">
            <span class="material-symbols-outlined command-center-card-icon">add_circle</span>
            <span class="command-center-card-label">@Loc[FogResource.CommandCenter_CreateProfile]</span>
        </div>

        <div class="command-center-card command-center-action-card" @onclick="ImportProfile">
            <span class="material-symbols-outlined command-center-card-icon">file_open</span>
            <span class="card-label">@Loc[FogResource.CommandCenter_Import]</span>
        </div>

        @foreach (var profile in _profiles)
        {
            <div class="command-center-card" @onclick="() => OpenProfile(profile.Id)">
                <span class="command-center-card-label">@profile.Name</span>
            </div>
        }
    </div>
}