@attribute [Route(FogUrlBuilder.PageRoutes.COMMAND_CENTER_EQUIPMENT_CONFIGURATOR_DASHBOARD_PATH)]
@using Ingweland.Fog.Application.Client.Web.Localization
@using Ingweland.Fog.Application.Core.Helpers
@using Ingweland.Fog.WebApp.Client.Components.Elements.EquipmentConfigurator
@inherits Ingweland.Fog.WebApp.Client.Components.Pages.Abstractions.FogPageBase
<div class="page-container">
    <div class="action-buttons-container">
        <div class="command-center-card command-center-action-card action-card"
             @onclick="() => NavigateTo(FogUrlBuilder.PageRoutes.HELP_IMPORTING_IN_GAME_DATA_PATH)">
            <span class="material-symbols-outlined command-center-card-icon">file_open</span>
            <span class="card-label">@Loc[FogResource.CityPlanner_Import]</span>
        </div>
    </div>
    <div class="items-container">
        @foreach (var profile in _profiles)
        {
            <EquipmentProfileCard Profile="@profile" OnClick="@OpenProfile"/>
        }
    </div>
</div>