@using Ingweland.Fog.WebApp.Client.Theme
@inherits LayoutComponentBase

<MudThemeProvider Theme="FogTheme.Theme"/>
<div class="page-full">
    <main class="content-full">
        @Body
    </main>
</div>