.menu-header{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
}
.menu-header > img {
    width: 48px;
    aspect-ratio: 1/1;
    height: auto;
    object-fit: contain;
}

.menu-header > span {
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.title {
    font-size: 16px;
    font-weight: 700;
    margin-right: 32px;
    white-space: nowrap;
    cursor: pointer;
}


.toolbar-divider {
    height: 1.5rem;
    width: 1px;
    background-color: var(--fog-border-color);
}

sup {
    font-size: 10px;
    padding-left: 4px;
    font-weight: 400;
}

@media (min-width: 576px) {
    .menu-header{
        gap: 14px;
        padding: 24px 0;
    }
    .menu-header > img {
        width: 64px;
    }

    .menu-header > span {
        font-size: 20px;
    }
}
