@using Ingweland.Fog.Application.Client.Web.Localization
@using Microsoft.Extensions.Localization
@using Ingweland.Fog.WebApp.Client.Components.Elements
@inject IStringLocalizer<FogResource> Loc
<footer class="py-3 mt-auto">
    <div class="container-fluid d-flex justify-content-between align-items-center g-3">
        <div>
            <LanguageSelectorComponent/>
        </div>

        <p class="mb-0 text-center">© 2024 Forge of Games. @Loc[FogResource.Common_AllRightsReserved]</p>
        <a href="https://discord.gg/4vFeeh7CZn" target="_blank" class="discord-link">
            <i class="fab fa-discord fs-4"></i>
            <span>@Loc[FogResource.Common_JoinDiscord]</span>
        </a>
    </div>
</footer>