.nav-bar-title {
    font-size: 14px;
    font-weight: 700;
    white-space: nowrap;
    cursor: pointer;
    text-decoration: none;
    color: var(--fog-text-on-dark-color);
}

.menu-header, .menu-footer{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
}
.menu-footer{
    padding: 12px 12px 4px 12px;
}
.menu-header > img {
    width: 48px;
    aspect-ratio: 1/1;
    height: auto;
    object-fit: contain;
}

.menu-header > span {
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.copyright {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

sup {
    font-size: 10px;
    padding-left: 4px;
    font-weight: 400;
}

@media (min-width: 576px) {
    .nav-bar-title {
        font-size: 16px;
    }
    
    .menu-header, .menu-footer{
        gap: 14px;
    }
    
    .menu-footer{
        padding: 12px 12px 8px 12px;
    }
    .menu-header > img {
        width: 64px;
    }

    .menu-header > span {
        font-size: 20px;
    }

    .copyright {
        font-size: 14px;
    }
}
