.component-root{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.filter-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
}

.filter-icon > img{
    width: auto;
    height: 24px;
}

.stars-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    line-height: 1;
    font-size: 10px;
    height: 32px;
    width: 32px
}

::deep .mud-toggle-group {
    height: 44px;
}

::deep .mud-button-label {
    height: 100% !important;
}

::deep .hero-name-search-input {
    width: 250px;
}

::deep .ability-tag-selector {
    min-width: 250px;
    max-width: 250px;
    flex-grow: unset !important;
}


@media (min-width: 576px) {
    .component-root{
        gap: 16px;
    }
    
    .filter-icon {
        width: 28px;
        height: 28px;
    }

    .filter-icon > img{
        width: auto;
        height: 20px;
    }

    ::deep .mud-toggle-group {
        height: 52px;
    }

    ::deep .hero-name-search-input {
        width: 300px;
    }
}