.component-root  {
    display: flex;
    flex-direction: column;
    background-color: var(--fog-surface-color);
    width: 100%;
}

.avatar-section {
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
}

.avatar-section > img {
    width: 100%;
    height: auto;
    min-height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.main-label {
    font-size: 10px;
    white-space: normal;
    overflow-wrap: break-word; 
    word-break: break-word;
    width: 100%;
    padding: 6px 2px;
    text-align: center;
}