IOptions<HohServerCredentials>:
    HohServerCredentials__Username = 
    HohServerCredentials__Password = 

ConnectionStrings:
    DefaultSQL = [ADO.NET (SQL authentication) connection string]

IOptions<StorageSettings>:
    StorageSettings__InGameRawDataTable = inGameRawData
    StorageSettings__InGameRawDataProcessingQueue = in-game-raw-data-processing
    StorageSettings__HohCoreDataContainer = hoh-core-data
    StorageSettings__HohRawCoreDataContainer = hoh-raw-core-data
    StorageSettings__FogSharedDataContainer = fog-shared-data
    StorageSettings__ConnectionString = 
    
IOptions<ResourceSettings>:
    ResourceSettings__HohCoreDataVersion = 1