IOptions<HohServerCredentials>:
    HohServerCredentials__Username = 
    HohServerCredentials__Password = 

ConnectionStrings:
    DefaultSQL = [ADO.NET (SQL authentication) connection string]

IOptions<StorageSettings>:
    StorageSettings__InGameRawDataTable = inGameRawData
    StorageSettings__ConnectionString = 
    
IOptions<ResourceSettings>:
    ResourceSettings__BaseUrl = resources
    ResourceSettings__HohDataPath = data/hoh/data.bin
    ResourceSettings__HohLocalizationsDirectory = data/hoh