IOptions<HohServerCredentials>:
    HohServerCredentials__Username = 
    HohServerCredentials__Password = 

ConnectionStrings:
    DefaultSQL = [ADO.NET (SQL authentication) connection string]

IOptions<StorageSettings>:
    StorageSettings__PlayerRankingsTable = playerRankings
    StorageSettings__AllianceRankingsTable = allianceRankings
    StorageSettings__AllianceRankingsRawDataTable = allianceRankingsRawData
    StorageSettings__ConnectionString = 