.component-root {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.hero-name-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
}

@media (min-width: 576px) {
    .component-root {
        gap: 12px;
    }
}
