.component-root {
    border-top: solid 2px var(--fog-container-color);
    display: flex !important;
    flex-direction: column;
    background-color: var(--fog-surface-color);
}

.resource-icon {
    width: 32px;
    height: 32px;
    object-fit: contain;
    vertical-align: center;
}

.resource-icon-dense {
    width: 18px;
    height: 18px;
    object-fit: contain;
    vertical-align: center;
}

.cost-label {
    font-size: 16px;
    vertical-align: middle;
}

.cost-label-dense {
    font-size: 12px;
}

th, td {
    color: var(--fog-text-color) !important;
}
th {
   white-space: nowrap;
}

.th-dense {
    font-size: 10px;
}

th:last-child {
    width: 100%;
}

.table-dense>:not(caption)>*>* {
    padding: 2px 8px;
}