.component-root {
    height: 66px;
    display: flex;
    overflow: hidden;
}

.vertical-split-container {
    height: 100%;
    width: 40px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.split-container-item {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--fog-icon-on-dark-color);
}

.unit-image-container {
    height: 100%;
    aspect-ratio: 1/1;
    flex-shrink: 0;
}

.unit-image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.unit-type-icon-container {
    flex: 1;
}

.unit-type-icon-container img {
    max-width: 18px;
    max-height: 18px;
    width: auto;
    height: auto;
    object-fit: contain;
}

.unit-amount-container {
    font-weight: 700;
    font-size: 18px;
    color: var(--fog-text-on-dark-color);
}

.labels-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 8px;
}

.title {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 50%;
    font-size: 16px;
}

.subtitle {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 50%;
    font-size: 12px;
}

.stripes {
    background: repeating-linear-gradient(
            135deg, /* Angle of the stripes */ transparent, /* First color starts */ transparent 10px, /* First color ends */ rgb(from var(--fog-container-color) r g b / 0.1) 10px, /* Second color starts */ rgb(from var(--fog-container-color) r g b / 0.1) 20px /* Second color ends */
    );
}