.encounter-number {
    position: absolute;
    text-align: center;
    font-size: 48px;
    width: 60px;
    left: 11px;
    top: 5px;
    font-weight: 700 !important;
    color: var(--fog-text-on-dark-color);
}

.title-container {
    display: flex;
    align-items: center;
    background-color: var(--fog-container-color);
    border-radius: var(--fog-border-radius);
    padding: 2px 6px;
    height: 28px;
    gap: 6px;
}

.title {
    color: var(--fog-text-on-container-color);
    font-weight: 700 !important;
    font-size: 1rem !important;
}

.power-label {
    color: var(--fog-text-on-dark-color);
    font-size: 12px;
}

.power-icon {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    object-fit: cover;
}

.difficulty-icon {
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.power-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 6px;
    background-color: var(--fog-text-on-container-color);
    border-radius: var(--fog-border-radius);
}
