@using Ingweland.Fog.Application.Client.Core.Localization
@using Ingweland.Fog.Application.Client.Web.Analytics
@using Ingweland.Fog.Application.Client.Web.Analytics.Interfaces
@using Ingweland.Fog.Application.Client.Web.Constants
@using Ingweland.Fog.Application.Client.Web.Services.Abstractions
@using Ingweland.Fog.Application.Core.Helpers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<FogResource> Loc
@inject IPersistenceService PersistenceService
<div class="component-root">
    @Loc[FogResource.Announcement_Donation]
    <div class="buttons-container">
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Href="@FogUrlBuilder.PageRoutes.SUPPORT_US_PATH"
                   OnClick="@OnConsumed">@Loc[FogResource.Common_ReadMore]</MudButton>
    </div>
</div>

@code {

    [Parameter]
    public EventCallback OnAnnouncementConsumed { get; set; }
    
    [Inject]
    private IAnalyticsService AnalyticsService { get; set; }

    private async Task OnConsumed()
    {
        await PersistenceService.SetItemAsync(PersistenceKeys.DONATION_NOTIFICATION_READ_AT, DateTime.UtcNow);

        await OnAnnouncementConsumed.InvokeAsync();

        TrackEvent();
    }
    
    private void TrackEvent()
    {
        var allParameters = new Dictionary<string, object>
        {
            [AnalyticsParams.ANNOUNCEMENT_ID] = "donation",
        };

        _ = AnalyticsService.TrackEvent(AnalyticsEvents.CONSUME_ANNOUNCEMENT, allParameters);
    }

}