@using Ingweland.Fog.Application.Client.Web.Localization
@using Ingweland.Fog.Application.Client.Web.Services.Abstractions
@using Ingweland.Fog.Application.Core.Helpers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<FogResource> Loc
@inject IPersistenceService PersistenceService
<div class="component-root">
    @Loc[FogResource.Announcement_Patreon]
    <div class="buttons-container">
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Href="@FogUrlBuilder.PageRoutes.PATREON_URL"
                   Target="_blank" OnClick="OnConsumed">@Loc[FogResource.Announcement_Patreon_OK]</MudButton>
        <MudButton Variant="Variant.Text" OnClick="OnConsumed">@Loc[FogResource.Announcement_Patreon_Cancel]</MudButton>
    </div>
</div>

@code {

    [Parameter]
    [EditorRequired]
    public required string? PersistenceKey { get; set; }

    [Parameter]
    public EventCallback OnAnnouncementConsumed { get; set; }

    private async Task OnConsumed()
    {
        if (string.IsNullOrWhiteSpace(PersistenceKey))
        {
            return;
        }
        
        await PersistenceService.SetItemAsync(PersistenceKey, true);

        await OnAnnouncementConsumed.InvokeAsync();
    }

}