.component-root {
    display: flex !important;
    flex-direction: column;
    background-color: var(--fog-surface-color);
    gap: 24px;
    padding: 16px;
}

.loading-indicator {
    color: var(--fog-icon-color);
    align-self: center;
}

.power-container {
    background-color: var(--fog-accent-color);
    color: var(--fog-text-on-dark-color);
    font-weight: 700 !important;
    font-size: 1.5rem !important;
    display: flex;
    gap: 12px;
    align-items: center;
    border-radius: var(--fog-border-radius);
    overflow: hidden;
    justify-content: center;
}

.power-container > img {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    object-fit: cover;
}

.section-container {
    display: flex;
    gap: 12px;
    margin-bottom: 12px;
    width: 100%;
}

.section-container > img {
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    object-fit: cover;
    border: 1px solid var(--fog-border-color);
    border-radius: 4px;
    overflow: hidden;
}


.options-container {
    display: flex;
    flex-flow: wrap;
    gap: 24px;
    justify-content: space-between;

    > * {
        width: calc(50% - 15px);
    }
}

.stat-items-container {
    gap: 12px;
    display: flex !important;
    align-items: flex-start;
    flex-flow: wrap;
    justify-content: flex-start;
}

@media (min-width: 576px) {
    .options-container {
        flex-flow: wrap;
        justify-content: flex-start;

        > * {
            width: 120px;
        }
    }
}
