@using Ingweland.Fog.WebApp.Client.Extensions
@using MudBlazor.Utilities
@using Size = MudBlazor.Size
<div class="@ValueContainerClass">
    <img src="@IconUrl" class="@ValueIconClass">
</div>

@code {

    [Parameter]
    [EditorRequired]
    public string IconUrl { get; set; }

    [Parameter]
    public Size Size { get; set; } = Size.Medium;

    private string ValueContainerClass => new CssBuilder("value-container")
        .AddClass($"value-container-size-{Size.GetDescription()}")
        .Build();

    private string ValueIconClass => new CssBuilder("value-icon")
        .AddClass($"value-icon-size-{Size.GetDescription()}")
        .Build();

}