<div class="d-inline-flex flex-column align-items-center value-container">
    <img src="@IconUrl" class="object-fit-contain value-icon">
</div>

@code {

    [Parameter]
    public string IconUrl { get; set; }

}