.component-root {
    --fog-target-tech-color: #FCF0CE;
    --fog-selected-target-tech-color: #F4E8C8;
    --fog-selected-open-tech-color: #ACD2C7;
    --fog-open-tech-color: #CFFCEF;

    overflow: hidden;
    width: 85px;
    height: auto;
    padding: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.icon {
    height: 28px;
    flex-shrink: 0;
}

.label {
    flex: 1;
    word-wrap: break-word;
    text-align: center;
    font-size: 12px;
    align-content: center;
    color: var(--fog-text-color);
}

@media (min-width: 576px) {
    .component-root {
        height: 46px;
        padding: 4px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 4px;
        width: auto;
    }

    .icon {
        height: 32px;
    }

    .label {
        flex: 1;
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    .component-root {
        padding: 4px 8px;
    }
}