@using Ingweland.Fog.Application.Client.Core.Localization
@using Ingweland.Fog.Application.Client.Web.ViewModels.Hoh.Battle
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<FogResource> Loc
<div class="fog-container grid-container">
    <div class="icon">
        <img src="@Difficulty?.IconUrl"/>
    </div>
    <div class="title">
        @Difficulty?.Name
    </div>
    <div class="max-points">
        <span class="preserve-whitespace">@Loc[FogResource.Common_Max]: @MaxPoints</span>
    </div>
</div>

@code {

    [Parameter][EditorRequired]
    public required TreasureHuntDifficultyBasicViewModel? Difficulty { get; set; }

    [Parameter][EditorRequired]
    public required int MaxPoints { get; set; }

}